
<div class="row" id="catman">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="row">
      <div class="col-sm-6 text-center">
        <svg height="400px" viewBox="0 0 918.1429 1182.3142" style="border: 2px solid black; background-color: white;">
          <g
          transform="translate(251.92856,158.42351)">
          <circle
          style="opacity:0.77999998;fill:#ff6600;fill-opacity:1;stroke:#ffffff;stroke-width:0.2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          id="path10671"
          cx="392.85718"
          cy="148.07649"
          r="118.57143"
          ng-show="body[0]" />
          <rect
          style="fill:#000080;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          id="rect10673"
          width="311.42856"
          height="368.57144"
          x="240"
          y="278.07651"
          rx="61.593601"
          ry="9.6603498"
          ng-show="body[1]"/>
          <rect
          style="fill:#0000ff;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          id="rect10675"
          width="122.85714"
          height="285.71429"
          x="411.42853"
          y="658.07654"
          rx="61.593601"
          ry="9.6603498"
          ng-show="body[2]"/>
          <rect
          ry="9.6603498"
          rx="61.593601"
          y="658.07654"
          x="254.28568"
          height="285.71429"
          width="122.85714"
          id="rect10677"
          style="fill:#0000ff;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          ng-show="body[3]"/>
          <ellipse
          style="opacity:0.77999998;fill:#000000;fill-opacity:1;stroke:#ffffff;stroke-width:0.2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          id="path10679"
          cx="318.57144"
          cy="993.79077"
          rx="67.14286"
          ry="30"
          ng-show="body[4]"/>
          <ellipse
          ry="30"
          rx="67.14286"
          cy="993.79077"
          cx="478.57144"
          id="ellipse10681"
          style="opacity:0.77999998;fill:#000000;fill-opacity:1;stroke:#ffffff;stroke-width:0.2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          ng-show="body[5]" />
          <rect
          style="fill:#000080;fill-rule:evenodd;stroke:#000000;stroke-width:0.9313674px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          id="rect10683"
          width="102.92577"
          height="297.21149"
          x="125.67997"
          y="318.04218"
          rx="61.634701"
          ry="8.3742371"
          ng-show="body[6]"/>
          <rect
          ry="8.3742371"
          rx="61.634701"
          y="316.61359"
          x="562.82288"
          height="297.21149"
          width="102.92577"
          id="rect10685"
          style="fill:#000080;fill-rule:evenodd;stroke:#000000;stroke-width:0.9313674px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          ng-show="body[7]"/>
          <ellipse
          style="opacity:0.77999998;fill:#ff6600;fill-opacity:1;stroke:#ffffff;stroke-width:0.2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          id="path10687"
          cx="177.14287"
          cy="702.36224"
          rx="42.857143"
          ry="70"
          ng-show="body[8]"/>
          <ellipse
          ry="70"
          rx="42.857143"
          cy="700.07654"
          cx="614.28571"
          id="ellipse10689"
          style="opacity:0.77999998;fill:#ff6600;fill-opacity:1;stroke:#ffffff;stroke-width:0.2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          ng-show="body[9]"/>
          <rect
          style="fill:#ffcc00;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          id="rect10687"
          width="57.142857"
          height="117.14286"
          x="368.57144"
          y="-99.06636"
          rx="0"
          ry="0" />
          <rect
          style="fill:#ffdd55;fill-rule:evenodd;stroke:#000000;stroke-width:0.78614342px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          id="rect10689"
          width="395.92816"
          height="57.356709"
          x="31.321644"
          y="-156.31615" />
          <rect
          style="fill:#ffcc00;fill-rule:evenodd;stroke:#000000;stroke-width:1.1471312px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          id="rect10691"
          width="65.567154"
          height="1098.4243"
          x="-34.212147"
          y="-157.84995" />
          <rect
          style="fill:#c87137;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          id="rect10711"
          width="485.71429"
          height="77.14286"
          x="-251.42856"
          y="938.07648" />
        </g>
      </svg>

      <div id="word">
        <h1> {{ hiddenWord }} </h1>
      </div>
    </div>

    <div class="col-sm-6 text-center" id="do-guess">
      <h2> Care To Make A Guess? </h2>
      <div id="alerts">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</uib-alert>
      </div>
      <form novalidate class="simple-form">
        <label for="input-guess">Guess a Letter: </label>
        <input type="text" size="3" maxlength="1" ng-model="guess" id="input-guess"/>
        <input class="btn btn-danger" type="submit" ng-click="evalGuess(guess)" id="submit-guess"/>
      </form>

      <div id="prev-guess">
        <br />
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"> Previous Guesses </h3>
          </div>
          <div class="panel-body">
            {{prevGuessList.toString()}}
          </div>
        </div>
      </div>

      <div>
        <h1 ng-show="winner"> YOU WIN!!! </h1>
        <h1 ng-show="loser"> TOO BAD!!! </h1>
        <form novalidate class="simple-form" ng-show="winner || loser">
          <input type="submit" ng-click="startGame()" value="Play Again?"/>
        </form>
      </div>

      <div id="stats">
        <h4> Player Session Statistics: </h4>
        <p ng-repeat="stat in stats"> {{stat.name}} : {{stat.count}} </p>
      </div>
    </div>
  </div>
</div>
</div>
